@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


:root {
  /* CSS HEX */
  --white: #ffffff;
  --celadon: #99e2b4ff;
  --skobeloff: #14746fff;
  --caribbean-current: #036666ff;
  --dark: #061e1eff;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}